In [4]:
import pandas as pd
import matplotlib as plt

In [7]:
df_nba = pd.read_excel('C:/Users/vinicius.oliveira/Desktop/dio/Desafio Pandas/NBA.xlsx')
df_nba.head()

,Stadium,Capacity,Location,Team,Opened,League
0,American Airlines Center,"19,200","Dallas, Texas",Dallas Mavericks,2001,NBA
1,Amway Center,"18,846","Orlando, Florida",Orlando Magic,2010,NBA
2,AT&T Center,"18,418","San Antonio, Texas",San Antonio Spurs,2002,NBA
3,Ball Arena,"19,520","Denver, Colorado",Denver Nuggets,1999,NBA
4,Barclays Center,"17,732","New York City, New York",Brooklyn Nets,2012,NBA

In [9]:
df_nfl = pd.read_excel('C:/Users/vinicius.oliveira/Desktop/dio/Desafio Pandas/NFL.xlsx')
df_nfl.head()

,Stadium,Capacity,Location,Team,Opened,League
0,Allegiant Stadium,"65,000","Las Vegas, Nevada",Las Vegas Raiders,2020,NFL
1,GEHA Field at Arrowhead Stadium,"76,416","Kansas City, Missouri",Kansas City Chiefs,1972,NFL
2,AT&T Stadium,"80,000","Dallas, Texas",Dallas Cowboys,2009,NFL
3,Bank of America Stadium,"75,523","Charlotte, North Carolina",Carolina Panthers,1996,NFL
4,Caesars Superdome,"73,208","New Orleans, Louisiana",New Orleans Saints,1975,NFL

In [10]:
df_nhl = pd.read_excel('C:/Users/vinicius.oliveira/Desktop/dio/Desafio Pandas/NHL.xlsx')
df_nhl.head()

,Stadium,Capacity,Location,Team,Opened,League
0,Amalie Arena,"19,092","Tampa, Florida",Tampa Bay Lightning,1996,NHL
1,American Airlines Center,"18,532","Dallas, Texas",Dallas Stars,2001,NHL
2,Ball Arena,"17,809","Denver, Colorado",Colorado Avalanche,1999,NHL
3,Bell Centre,"21,105","Montreal, Quebec",Montreal Canadiens,1996,NHL
4,Bridgestone Arena,"17,159","Nashville, Tennessee",Nashville Predators,1996,NHL

In [11]:
df_mlb = pd.read_excel('C:/Users/vinicius.oliveira/Desktop/dio/Desafio Pandas/MLB.xlsx')
df_mlb.head()

,Stadium,Capacity,Location,Team,Opened,League
0,American Family Field,"41,900","Milwaukee, Wisconsin",Milwaukee Brewers,2001,MLB
1,Angel Stadium,"45,517","Los Angeles, California",Los Angeles Angels,1966,MLB
2,Busch Stadium,"45,494","St. Louis, Missouri",St. Louis Cardinals,2006,MLB
3,Chase Field,"48,405","Phoenix, Arizona",Arizona Diamondbacks,1998,MLB
4,Citi Field,"41,922","New York City, New York",New York Mets,2009,MLB

In [12]:
df_mls = pd.read_excel('C:/Users/vinicius.oliveira/Desktop/dio/Desafio Pandas/MLS.xlsx')
df_mls.head()

,Stadium,Capacity,Location,Team,Opened,League
0,Allianz Field,"19,400","Minneapolis, Minnesota",Minnesota United FC,2019,MLS
1,Audi Field,"20,000","Washington, D.C.",D.C. United,2018,MLS
2,Banc of California Stadium,"22,000",Los Angeles,Los Angeles FC,2018,MLS
3,Bank of America Stadium,"38,000","Charlotte, North Carolina",Charlotte FC,1996,MLS
4,BC Place,"22,120",Vancouver,Vancouver Whitecaps FC,1983,MLS

In [30]:
df = pd.concat([df_nba, df_mlb, df_mls, df_nhl, df_nfl])
df.head()

,Stadium,Capacity,Location,Team,Opened,League
0,American Airlines Center,"19,200","Dallas, Texas",Dallas Mavericks,2001,NBA
1,Amway Center,"18,846","Orlando, Florida",Orlando Magic,2010,NBA
2,AT&T Center,"18,418","San Antonio, Texas",San Antonio Spurs,2002,NBA
3,Ball Arena,"19,520","Denver, Colorado",Denver Nuggets,1999,NBA
4,Barclays Center,"17,732","New York City, New York",Brooklyn Nets,2012,NBA

In [33]:
group_leagues = df.groupby(['League'])['League'].count()
group_leagues.head()

League
MLB    30
MLS    28
NBA    30
NFL    32
NHL    32
Name: League, dtype: int64